{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true,
      "topLevelAwait": true
    },
    "target": "es2022",

    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": "inline"
}
